 <div ng-controller="LoginViewCtrl" ng-cloak layout-gt-sm="row" layout="column">
  <div  flex>

    <md-toolbar layout="row" >
      <div class="md-toolbar-tools">
</md-button>
        <span style="font-color:#FFFFFF">Identification</span>
         <span flex></span>
         <md-button class="md-icon-button" aria-label="done" ng-click="validate()">
            <ng-md-icon icon="done" style="fill:#FFFFFF"></ng-md-icon>
</md-button>
      </div>
    </md-toolbar>





<md-content>
<md-list flex> 
          <div class="md-list-item-text" layout="column">

            <md-input-container>
            <input aria-label="title" ng-model="login" placeholder="Nom">
            </md-input-container>
            </div>
</md-list>
</md-content>
</div>
</div>